<div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; max-width: 600px; padding: 10px; margin: auto;">
  <img style="width: 180px;" src="https://animalbuddy-public.s3.amazonaws.com/logo.png">

  <div style="margin-bottom: 40px;">
    <span style="display: block; color: #999; font-size: 16px; margin: 20px 0 0;">IDENTIFICADOR DO PEDIDO #{{id_order}}</span>
    <h2 style="color: #000; font-size: 24px; font-weight: normal; margin: 3px 0 10px 0;">Seu pedido já está a caminho!</h2>
    <p style="color: #777; font-size: 16px; line-height: 150%; margin: 0; text-align: justify;">Rastreie sua remessa para ver o status da entrega consultando pelas informações abaixo:</p>

    <br />

    <p style="color: #777; font-size: 16px; line-height: 150%;">
      Número para rastreio: <strong style="color: #7239F2;">{{tracking_code}}</strong>
      <br />
      <br />
      Site para consultar o rastreio: <a style="word-wrap: break-word; color: #7239F2;" href="https://www2.correios.com.br/sistemas/rastreamento/default.cfm">https://www2.correios.com.br/sistemas/rastreamento/default.cfm</a>
    </p>
  </div>

  <div style="color: #000; font-size: 20px; margin: 0 0 25px; font-weight: normal;">
    <h3>Resumo dos pedidos</h3>

    <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
      {{#each products}}
        <tr style="width: 100%; border-bottom: 1px solid #eee;">
          <td style="padding-top: 20px; padding-bottom: 20px;">
            <img src="{{image_url}}" style="width: 60px; margin-right: 20px">
          </td>
          <td style="padding-top: 20px; padding-bottom: 20px; padding-right: 20px; width: 100%;">
            <h4 style="font-size: 16px; font-weight: 600; line-height: 1.4; color: #555; padding: 0; margin: 0;">{{name}} x{{qtd}}</h4>
          </td>
          <td style="padding-top: 20px; padding-bottom: 20px;">
            <p style="color: #555; line-height: 150%; font-size: 16px; font-weight: 600; text-align: right;">{{priceFormatted}}</p>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>

  <div style="padding: 35px;">
    <center>
      <p style="color: #999; line-height: 150%; font-size: 14px; margin: 0;">
        Se você tiver alguma dúvida, entre em contato
        conosco pelo e‑mail <a style="text-decoration: none; font-size: 14px; color: #7239F2;" href="mailto:contato@animalbuddy.com.br">contato@animalbuddy.com.br</a>
      </p>
    </center>
  </div>
</div>
